<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product add</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}"/>
    <link th:rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body>
<header th:insert="blocks/header :: header"></header>


<div class="container mt-5">
    <h1>Продукция</h1>
    <form id="add" action="/finishProduct/add" method="post">
        <input type="number" name="id"  placeholder="Номер продукта"  class="form-control" ><br>
        <input type="text" name="nameProduct"   placeholder="Имя продукта"  class="form-control"><br>
<!--        <input type="number" name="manufacture"   placeholder="№ Мануфактура"  class="form-control"><br>-->
        <select name="man" id="man" class="form-control selectpicker"   >
            <option disabled>select option</option>
            <option th:each="el:${man}" th:value="${el.id_Manufucture}" th:text="${el.id_Manufucture}"></option>
        </select><br>
<!--        <input type="number" name="warehouse"   placeholder="№ склада"  class="form-control"><br>-->
        <select name="warehouse" id="warehouse" class="form-control selectpicker"   >
            <option disabled>select option</option>
            <option th:each="el:${warehouse}" th:value="${el.id}" th:text="${el.storekeeper.getName()}"></option>
        </select><br>
        <input type="number" name="quantity"   placeholder="колическтво"  class="form-control"><br>
        <input type="date" name="date"   placeholder="дата производства"  class="form-control"><br>
        <select name="materials" id="materials" class="form-control selectpicker" multiple  >
                <option disabled>select option</option>
                <option th:each="el:${materials}" th:value="${el.id}" th:text="${el.name}"></option>
        </select><br>

        <button type="submit" class="btn btn-success"  >Добавить продукт</button>
    </form>
    <a href="/finishProduct" class="btn btn-warning">Отмена</a>






</div>

<footer th:insert="blocks/footer :: footer"></footer>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/bootstrap-select-1.13.9/dist/js/bootstrap-select.js}"></script>
</body>
</html>