<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/mainContract">Договоры</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/suppliers">Поставщики</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/warehouse">Склад</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/finishProduct">Продукция</a>

        </nav>
    </div>
</div>

